.form-label{
    font-weight: 400;
}
.form-control,
.form-select{
    background-color: #D9D9D9;
    height: 43px;
}
input::placeholder,
select option {
    color: #000000;
    opacity: 0.3;
}
h2{
   color: #377DC0; 
   font-weight: 700;
}