<mat-form-field appearance="fill" [ngClass]="'w100'">
  <mat-label>Nome</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field appearance="fill" [ngClass]="'w100'">
  <mat-label>Email</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field appearance="fill" [ngClass]="'w100'">
  <mat-label>CPF</mat-label>
  <input matInput>
</mat-form-field>

<div class="d-flex">
  <mat-form-field appearance="fill" [ngClass]="'w100 mr-24'">
    <mat-label>Endereço</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill" [ngClass]="'w100'">
    <mat-label>Estado</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<label [ngClass]="'labelTextForma'">Forma de Pagamento</label>
<mat-divider> </mat-divider>
<mat-radio-group name="forma">
  <mat-radio-button value="cartao" checked="true">Cartão de Crédito</mat-radio-button>
  <mat-radio-button value="boleto">Boleto Bancário</mat-radio-button>
</mat-radio-group>
<div class="d-flex">
  <mat-form-field appearance="fill" [ngClass]="'w50 mr-24'">
    <mat-label>Nome do cartão</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill" [ngClass]="'w25 mr-24'">
    <mat-label>Mês</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" [ngClass]="'w25'">
    <mat-label>Ano</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="d-flex">
  <mat-form-field appearance="fill" [ngClass]="'w50 mr-24'">
    <mat-label>Número do cartão</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill" [ngClass]="'w50'">
    <mat-label>Código de Segurança</mat-label>
    <input matInput>
  </mat-form-field>
</div>
<mat-divider> </mat-divider>
<div class="d-flex column">
  <p>Seu cartão será debitado em R$ 49,00</p>
  <button mat-flat-button color="primary" [ngClass]="'w326'">REALIZAR MATRÍCULA</button>
  <small>Informações seguras e criptografadas</small>
</div>
