.navbar{
    background-color: #0a0a3c;
}
nav ul{
    display: flex;
    list-style-type: none;
}
nav ul li{
    position: relative;
}
nav ul li:first-child{
    padding-right: 40px;
    margin-right: 30px;
}
nav ul li:first-child:after{
    content: '\2022';
    border: 2px solid #FFF;
    border-radius: 100%;
    display: inline-block;
    padding: 0.12em;
    color: #0a0a3c;
    width: 1px;
    height: 1px;
    top: 0;
    position: absolute;
    top: 38%;
    right: 0;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}