.subtitle{
  font-size: 24px;
  font-weight: 700;
  color: #377DC0;
  border-bottom: 3px solid #EEF3F7;
  width: 100%;
  display: block;
  padding-bottom: 10px;
  margin-bottom: 24px;
}
.example-form {
  min-width: 150px;
  width: 100%;
}
.example-full-width {
  width: 100%;
  margin-top: 10px;
}
.label-form{
  font-size: 24px;
}
.demo-table {
  width: 100%;
  border: 1px solid #77A7D4;
}