<h2 class="subtitle">Lista de cliente</h2>
<form class="example-form">
  <mat-label>Nome do cliente</mat-label>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Digite seu nome">
  </mat-form-field>
</form>
<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> E-mail </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef> CPF </th>
      <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
    </ng-container>
  
    <ng-container matColumnDef="criado">
        <th mat-header-cell *matHeaderCellDef> Criado em </th>
        <td mat-cell *matCellDef="let element"> {{element.criado}} </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  <!-- Position Column -->
  <ng-container matColumnDef="demo-nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="demo-email">
    <th mat-header-cell *matHeaderCellDef> E-mail </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="demo-cpf">
    <th mat-header-cell *matHeaderCellDef> CPF </th>
    <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="demo-criado">
    <th mat-header-cell *matHeaderCellDef> Criado em </th>
    <td mat-cell *matCellDef="let element"> {{element.criado}} </td>
  </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="demo-actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button matTooltip="Primary" color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Primary" color="primary">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

